<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Temperatura Externa</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; height: 420px; padding-top: 45px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <am-chart options="extTempChartOptions" height="100%" width="100%"></am-chart>
</div>
