<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Demanda Bioquímica de Oxigênio (DBO5,20)</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    A Demanda Bioquímica de Oxigênio representa a quantidade de oxigênio necessária para oxidar a matéria 
    orgânica presente na água através da decomposição microbiana aeróbica. No IQA, é usada o DBO5,20 que é 
    a quantidade de oxigênio consumido durante 5 dias em uma temperatura de 20ºC. Valores altos de DBO5,20 
    num corpo d’água são provocados geralmente causados pelo lançamento de cargas orgânicas, principalmente 
    esgotos domésticos. Este parâmetro é diretamente relacionado ao oxigênio dissolvido na água, e valores 
    altos podem ocasionar a mortandade de peixes e eliminação de outros organismos aquáticos.
  </p>

  <h5>Legislação</h5>

  <p>
   A legislação DBO5,20 exige um valor máximo de 10 mg/L em qualquer dia.
  </p>

</div>
