<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Oxigênio Dissolvido</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    O Oxigênio Dissolvido é o parâmetro de maior peso na composição do IQA, e este é vital para a 
    preservação da vida aquática, já que vários organismos são dependentes de uma concentração 
    adequada. Sendo este reposto principalmente pelas trocas gasosas entre a atmosfera e a fotossíntese 
    das algas e plantas que habitam o corpo hídrico. Este pode ser afetado por temperaturas elevadas, 
    uma vez que essa aumenta a solubilidade da água, e fatores relacionados à poluição por metais, pois 
    este sofre processos de oxidação, o que retira oxigênio do sistema.
  </p>
  
  <h5>Legislação</h5>

  <p>
    Não existe uma legislação clara sobre a faixa que este parâmetro deve habitar, entretanto existem 
    restrições no que diz respeito ao controle de poluição (Decreto Nº 8.468 do Governo do Estado de 
    São Paulo, de setembro de 1976). Onde são definidos limites das variações que um despejo em corpo 
    hídrico pode alterar.
  </p>

</div>
