<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Coliformes Fecais</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    Coliformes Fecais, ou Termotolerantes, é o maior indicador de poluição por esgotos domésticos. Elas 
    não são patogênicas, mas sua presença em grandes números indicam a possibilidade da existência de 
    microrganismos patogênicos que são responsáveis pela transmissão de doenças de veiculação hídrica 
    (ex: disenteria bacilar, febre tifoide e cólera).
  </p>

  <h5>Legislação</h5>

  <p>
     Segundo Resolução Nº 274 do CONAMA, águas doces não devem ter concentrações superiores a 200 coliformes
      termotolerantes por 100 mililitros (essa concentração varia de acordo com o objetivo da água). As 
      medições dessas variáveis seriam feitas periodicamente de acordo com exigências legais.
  </p>

</div>
