<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>PH</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Poluição, mudança do pH</h5>
  
  <p>
    Em condições naturais, os rios equilibram a acidez causada pela respiração dos seres aquáticos com a alcalinidade obtida a partir das rochas calcáreas, mantendo o ph da água em neutro, ao qual a maioria dos seres aquáticos está acostumada. Apesar da alteração da neutralidade da água não ser nociva aos seres humanos, tende a ser nociva aos peixes e outros seres aquáticos.
  </p>

  <p>
    A poluição por alteração de pH das águas é comumente gerada pelo despejo de ácidos ou álcalis industriais, que são utilizados para a lavagem de equipamentos. Tóxicos seletivos incluem os detergentes sintéticos não biodegradáveis, os inseticidas e os herbicidas sintéticos, também podem ser responsáveis por alterar o ph.
  </p>
  
  <p>
    Altas variações nos valores de pH também podem aumentar o efeito de substâncias químicas que são tóxicas para os organismos aquáticos, tais como os metais pesados.
  </p>

  <h5>Solução</h5>
  
  <p>
    Caso seja verificado anormalidades nas medições de ph da água, e for identificado que estas anormalidades provém, deve-se tomar as soluções abaixo:
  </p>
  
  <ul>
    <li>
      <strong>Atividade Industrial:</strong> A melhor solução é entrar em contato com o poder público para diminuir ou cessar a atividade fazendo um armazenamento e neutralização da água, antes de ser devolvida aos rios.
    </li>
  </ul>
  
  <h5>Legislação</h5>

  <p>
    A Resolução do CONAMA 357 estabelece que para proteção da vida aquática o pH deve estar entre 6 e 9. Já a Portaria 2914 do Ministério da Saúde de 
    2011 recomenda que, no sistema de distribuição de água para consumo humano, o pH deve ser mantido na faixa de 6,0 a 9,5.
  </p>

  <h5>Referências</h5>
  
  <p>
    Ambiente Brasil. Poluição Quimica. Disponível em: <a href="http://ambientes.ambientebrasil.com.br/agua/impactos_sobre_as_aguas/poluicao_quimica.html">http://ambientes.ambientebrasil.com.br/agua/impactos_sobre_as_aguas/poluicao_quimica.html</a> Acesso em 31 maio 2016.
  </p>
  
  <p>
    HSW. Detalhando os parâmetros de poluição. Disponível em: <a href="http://ambiente.hsw.uol.com.br/poluicao-aguas3.htm">http://ambiente.hsw.uol.com.br/poluicao-aguas3.htm</a> Acesso em 31 maio 2016.
  </p>

  <p>
    COHESP. Qual o ph ideal para consumo humano? Disponível em: <a href="http://cohesp.com.br/qual-ph-ideal-da-agua-para-consumo-humano/">http://cohesp.com.br/qual-ph-ideal-da-agua-para-consumo-humano/</a> Acesso em 31 maio 2016.
  </p>

</div>
