<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Fósforo Total</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    O Fósforo Total é o principal fator que coloca limite na produtividade da agua e está envolvido
     diretamente no processo de eutrofização. Participa em processos fundamentais nos seres vivos,
     como formação da membrana celular e no armazenamento de energia. O desiquilíbrio na sua composição
     com a agua, acarreta outras variáveis que são analisadas no processo de verificação da potabilidade
     da agua. Como altera o funcionamento das algas presentes, ele mudará a concentração de oxigênio
     dissolvido. Quando fosforo entra em contato com a agua pode ocorrer a produção de ácidos,
     como H3PO4, H2PO4, HPO4², PO4³, mudando o pH da agua. Apesar de não acarretar nenhum
     malefício direto ao organismo humana, sua elevada concentração no corpo d’água pode alterar o ecossistema.
  </p>

  <h5>Legislação</h5>

  <p>
    Segundo resolução Nº 357 do CONAMA, a concentração deste parâmetro não pode ultrapassar o valor de 0,030 mg/L 
    (valor varia de acordo com classificação do ambiente). Apesar de constar legislação pertinente, sua 
    importância varia de acordo com a utilidade do corpo d’água. 
  </p>

</div>
