<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Sólidos Totais ou Suspensos</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    Os Sólidos Totais ou Suspensos, é a matéria que permanece após a evaporação, secagem ou calcinação de água
     durante um determinado tempo e temperatura. Quando resíduos sólidos se depositam nos leitos dos corpos 
     d’água podem causar seu assoreamento, que gera problemas para a navegação e pode aumentar o risco de enchentes. 
     Além disso podem causar danos à vida aquática pois ao se depositarem no leito eles destroem os organismos que 
     vivem nos sedimentos e servem de alimento para outros organismos, além de danificar os locais de desova de peixes.
  </p>

  <h5>Legislação</h5>

  <p>
    Segundo a Resolução Nº 357, a concentração máxima dos sólidos dissolvidos é 500 mg/L.
  </p>

</div>
