<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Nitrogênio Total</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    O Nitrogênio Total pode ocorrer nas formas de nitrogênio orgânico, amoniacal, nitrito e nitrato. 
    Os nitratos são tóxicos aos seres humanos, e em altas concentrações causa uma doença metahemoglobinemia 
    infantil, que é letal para crianças. Pelo fato dos compostos de nitrogênio serem nutrientes nos processos 
    biológicos, seu lançamento em grandes quantidades nos corpos d’água, junto com outros nutrientes tais como 
    o fósforo, causa um crescimento excessivo das algas, processo conhecido como eutrofização, o que pode 
    prejudicar o abastecimento público e afetar o oxigênio no sistema.
  </p>

  <h5>Legislação</h5>

  <p>
    A Resolução Nº 274 do CONAMA estabelece que o nitrogênio não deverá ultrapassar 1,27 mg/L para ambientes lênticos  e 2,18 mg/L para ambientes lóticos .
  </p>

</div>
