<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Turbidez</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    A Turbidez é a medida de dificuldade que a luz tem de atravessar uma quantidade de agua, essa medição é feita 
    através por um turbidímetro comparando o feixe da água analisada com um feixe de uma água potável. Os principais
     problemas que ocasionam a turbidez é a presença de sólidos em suspensão, matérias (inorgânica e orgânica) fivididas 
     e algas e organismos microscópicos. Esses materiais têm como origem os esgotos não tratados corretamente. Quando a luz 
     não consegue chegar as algas presentes na agua, elas não realizam a quantidade de fotossíntese necessária para manter 
     o ecossistema estável, assim provocando alterações no oxigênio dissolvido, pH e temperatura.
  </p>

  <h5>Legislação</h5>

  <p>
    Para águas doces o CONAMA exige que a turbidez do corpo d’água seja inferior à 100 UNT, já o Ministério da Saúde exige 
    que amostras de água potável deve ser de 5,0 uT.
  </p>

</div>
