<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Temperatura da Água</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    A temperatura da água é de grande importância à medição da qualidade da mesma. Devido a depedência de inúmeros outros
    fatores, o acompanhamento contínuo desta variável é vital para que qualquer anormalidade seja detectada. Por exemplo,
    a elevação da temperatura contribui para redução da concentração de oxigênio dissolvido na água, essencial para vida
    aquática, e a intensificação da taxa de decomposição da matéria orgância, aumentando a demanda bioquímica de
    oxigênio do ambiente aquático. Do ponto de vista físico, a temperatura é inversamente proporcional a concentração de
    oxigêncio dissolvido, dessa forma, mais quente, maior a pressão no oxigênio disponível no sistema.
  </p>
  
  <p>
    Os organismos aquáticos são afetados por temperaturas fora de seus limites de tolerância térmica, o que pode causar 
    impactos sobre seu crescimento e reprodução. Uma vez que o ecossistema seja afetado, as variáveis que possuem uma 
    ligação mais próxima com o oxigênio disponível começam a sofrer variações também.
  </p>

  <h5>Legislação</h5>

  <p>
    Não consta na legislação valores máximos e mínimos estipulados para esta variável, entretanto, seu monitoramento é 
    imprescindível. 
  </p>

</div>
