<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>Temperatura da Água</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; padding-top: 15px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Importância</h5>

  <p>
    A temperatura da água é de grande importância à medição da qualidade da mesma. Devido a depedência de inúmeros outros
    fatores, o acompanhamento contínuo desta variável é vital para que qualquer anormalidade seja detectada. Por exemplo,
    a elevação da temperatura contribui para redução da concentração de oxigênio dissolvido na água, essencial para vida
    aquática, e a intensificação da taxa de decomposição da matéria orgância, aumentando a demanda bioquímica de
    oxigênio do ambiente aquático. Do ponto de vista físico, a temperatura é inversamente proporcional a concentração de
    oxigêncio dissolvido, dessa forma, mais quente, maior a pressão no oxigênio disponível no sistema.
  </p>
  
  <p>
    Os organismos aquáticos são afetados por temperaturas fora de seus limites de tolerância térmica, o que pode causar 
    impactos sobre seu crescimento e reprodução. Uma vez que o ecossistema seja afetado, as variáveis que possuem uma 
    ligação mais próxima com o oxigênio disponível começam a sofrer variações também.
  </p>
  
  <h5>Poluição Térmica</h5>  
  
  <p>
    O termo é pouco conhecido e por não ser facilmente observável, mas seu impacto é consideravel. Ela ocorre quando a temperatura
    de um meio de suporte de algum ecossistema aquático (como um rio, por exemplo) é aumentada ou diminuída, causando impacto directo 
    na população desse ecosistema.
  </p>
  
  <p>
    As causas deste tipo de poluição podem ser diversas, desde o utilzação de água para resfriamento na indústria, erosão do solo,
    pavimentação da superfície, atividade geotérmica e desmatamento.
   </p>
  
  <p>
    A poluição térmica tem diversos efeitos negativos no ecossistema, entre eles:
  </p>
  
  <ul>
    <li>
      <strong>Diminuição dos níveis de oxigênio na água:</strong> o que pode causar sufocamento de plantas e animais aquáticos. Além de promover o crescimento
    </li>
    <li>
      <strong>Perda da biodiversidade:</strong> Mudanças brucas de temperatura podem fazer com que certas espécies locomovam para outro ambiente, enquanto outras
      espécies podem mudar para o ambiente mais quente.
    </li>
    <li>
      <strong>Impacto Ecológico:</strong> O choque térmico na água pode reultar na morte imediata de diversos peixes, plantas, insetos e anfíbios. Como, por exemplo, 
      o Salmão e a Truta, que por serem espécies estenotérmicas, isto é, não toleram grandes variações de temperatura, podem sofrer mudanças em seu organismo e
      metabolismo e até a morte desses animais. 
    </li>
    <li>
      <strong>Mudanças na reprodução:</strong> O aumento de temperatura afeta a reprodução de animais marinhos, causando uma liberação de ovos imaturos ou prevenindo o
      desenvolvimento normal de certos ovos. E a diminuição da temperatura pode impedir que ocorra a reprodução.
    </li>
    <li>
      <strong>Aumento de doenças:</strong> A elevação da temperatura pode ser benéfica para certos parasitas de peixes, o que pode tornar esse peixe impróprio para 
      consumo humano.
    </li>
    <li>
      <strong>Mudanças no metabolismo:</strong> A poluição térmica causa mudanças no metabolismo, fazendo com que os organismos consumam mais alimento. Podendo afetar o 
      equilibrio da cadeia alimentar local.
    </li>
  </ul>
  
  <h5>Soluções</h5>
  
  <p>Caso sejam identificadas anormalidades nas medições da temperatura da água, o primeiro passo é identificar a causa desta variação e depois adotar alguma das medidas
    citadas abaixo:
  </p>
  
  <ul>
    <li>
      <strong>Atividade Indústrial:</strong> Neste caso, a melhor solução é entrar em conjunto com o poder público para diminuir ou cessar a ativadade em curso
      até medidas de tratamento sejam adotadas. Por exemplo, tratamento ou armazenamento da água antes de ser devolvida ao meio.
    </li>
    <li>
      <strong>Desmatamento:</strong> Caso esteja ocorrendo desmatamento em áreas ao redor do corpo hídrico, é essencial procurar as autoridades e inibir a prática
      o mais rápido possível.
    </li>
    <li>
      <strong>Atividade Natural:</strong> Se a causa das variações for natural, deve-se, com auxílio dos órgãos ambientais, monitorar o impacto na química e biodiversidade
      do local. Assim, as comunidades e pessoas conseguiram adaptar-se melhor as mudanças, evitando uma degradação de espécies em risco por causas das mudanças.
    </li>
  </ul>
  
  <h5>Legislação</h5>

  <p>
    Não consta na legislação valores máximos e mínimos estipulados para esta variável, entretanto, seu monitoramento é 
    imprescindível. 
  </p>
  
  <h5>Referências</h5>
  
  <p>
    ECYCLE. <i>Poluição térmica e os riscos a ecossistemas</i>. Disponível em: <a href="http://www.ecycle.com.br/component/content/article/63/2736-poluicao-termica-o-que-e-riscos-consequencias-ecossistemas-resfriamento-industria-desmatamento-erosao-solo-superficies-pavimentadas-causas-naturais-diminuicao-oxigenio-agua-perda-biodiversidade-impacto-ecologico-mudancas-reproducao-aumento-doencas.html" target="_blank">http://www.ecycle.com.br/component/content/article/63/2736-poluicao-termica-o-que-e-riscos-consequencias-ecossistemas-resfriamento-industria-desmatamento-erosao-solo-superficies-pavimentadas-causas-naturais-diminuicao-oxigenio-agua-perda-biodiversidade-impacto-ecologico-mudancas-reproducao-aumento-doencas.html</a> Acesso em 27 mai. 2016.
  </p>

</div>
