<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>pH</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Diário</h5>

  <am-chart id="dailyPHTempChart" options="dailyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Semanal</h5>

  <am-chart id="weeklyPHTempChart" options="weeklyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Mensal</h5>

  <am-chart id="monhtlyPHTempChart" options="monthlyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 invoice">
  <h5>Controle</h5>

  <p>
    O PH é o segundo parâmetro de maior peso e de importância para vida aquática no corpo d’água, pois este afeta o metabolismo de várias espécies aquáticas. Outros impactos de elevados níveis de pH é solubilidade de nutrientes, o que afeta os processos fotossintéticos do fitoplâncton. As variações do mesmo em um corpo é o que determina o tipo de fauna e flora que habitam o local, sendo que o meio neutro é o que possibilita uma maior estabilidade do meio e diversificação dos ecossistemas, permitindo o desenvolvimento de diferentes espécies. Por isso o seu monitoramento contínuo e entendimento do seu comportamento ao passar das estações é vital para que sistemas de alertas detectem anomalias que possam comprometer a qualidade desta água. A Resolução do CONAMA 357 estabelece que para proteção da vida aquática o pH deve estar entre 6 e 9. Já a Portaria 2914 do Ministério da Saúde de 2011 recomenda que, no sistema de distribuição de água para consumo humano, o pH deve ser mantido na faixa de 6,0 a 9,5.
  </p>
</div>