<div class="row" style="margin-top: 20px;">
  <h3 style="text-transform: uppercase;">{{ sensor.nickname }}</h3>
  <h4>pH</h4>
</div>

<div class="h-10"></div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Diário</h5>

  <am-chart id="dailyPHTempChart" options="dailyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Semanal</h5>

  <am-chart id="weeklyPHTempChart" options="weeklyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div style="width: 100%; height: 487px; padding-top: 15px; margin-bottom: 20px;" class="col-sm-12 col-xs-12 col-md-12 invoice">
  <h5>Gráfico Mensal</h5>

  <am-chart id="monhtlyPHTempChart" options="monthlyChartOptions" height="100%" width="100%"></am-chart>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 invoice">
  <h5>Controle</h5>

  <p>
    Explicar como o controle desta variável é feito.
  </p>
</div>